body {
    background-image: url(../assets/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    padding-bottom: 10rem;
    min-height: 80vh;
    overflow-x: hidden;
}