.cajaPrincipal {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   

    .cajaIzquierda {
        padding: 3rem;
        width: 400px;
        height: 500px;
        background-color: black;
        position: relative;
        top: -100px;
        left: 50px;
        border: 2px dashed #DE6C08;
        border-radius: 15%;

        .listaDatos {
            margin-top: 20px;

            .datos {
                text-align: center;
                color: white;
                list-style: none;
                line-height: 30px;
                letter-spacing: 1px;
            }
        }

        .estadoCuenta {
            position: relative;
            top: 25px;
            left: -40px;

            .circulo {
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background-color: green;
                position: relative;


            }
        }

        .diasGym{
            position: relative;
            left: 100px;
            padding: 5px;
            border: 2px solid #DE6C08;
            background-color: black;
            color: white;

            .diasG {
                line-height: 10px;
            }
        }
        
    }
    
    .imagenMedio {
        position: relative;

        img {
            width: 500px;
            height: 500px;
            object-fit: contain;
        }
    }

    .cajaDerecha {
        padding: 3rem;
        width: 400px;
        height: 500px;
        background-color: black;
        position: relative;
        top: -110px;
        left: -50px;
        border: 2px dashed #DE6C08;
        border-radius: 15%;
        
    }
}

.alert {
    color: #DE6C08;
}

.alertcc {
    border: 1px solid #DE6C08;
}