.mainBoxPagar {

    .tuCompra {
        position: absolute;
        text-align: center;

    }

    .contenedorMainBox {
        margin-top: 4rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-start;
        height: 300px;

        .contenedorProductosAgregados {
            display: flex;
            flex-direction: row;
            margin-top: 2rem;
            margin-bottom: -50px;
            height: 150px;

            .imagenProductosAgregados {

                .imgCarrito {
                    width: 80px;
                    height: 80px;
                    object-fit: contain;
                }
            }

            .detalleProductosAgregados {

                .productoCarrito {
                    color: white;
                    list-style: none;
                }
            }
        }
    }

    .finalTotal {
        position: absolute;
        bottom: 470px;
    }

    .formularioPagar {
        display: flex;
        flex-direction: column;
        padding: 5px;
        position: absolute;
        bottom: 260px;
        left: 880px;

        .buttons {
            background-color: #DE6C08;
            border: 2px solid white;
            color: white;
            cursor: pointer;
            &:hover {
                opacity: 0.7;
            }
        }

        input {
            padding: 5px;
            margin-bottom: 7px;
            border: 2px solid #DE6C08;
            background-color: black;
            color: white;
            &::placeholder {
                color: white;
                text-align: center;
            }
        }
        
    }
}

.alert {
    color: #DE6C08;
}

.alertcc {
    border: 1px solid #DE6C08;
}