@import url('https://fonts.googleapis.com/css2?family=Hubballi&family=Inspiration&family=Josefin+Sans:wght@300&family=Ramaraja&display=swap');
@import "all";
@import "body";
@import "header";
@import "index";
@import "nosotros";
@import "catalogo";
@import "feedback";
@import "footer";
@import "extend";
@import "maps";
@import "mixin";
@import "shopping";
@import "account";
@import "crear-cuenta";
@import "enCuenta";
@import "_realizarPago";